<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       <mapper namespace="com.dfire.mapper.UserMapper">
       <select id="getUserByName" parameterType="String"
               resultType="com.dfire.bean.User">
              SELECT * FROM USER WHERE userName=#{userName}
       </select>
       <select id="getUserList" resultType="com.dfire.bean.User">
              SELECT * FROM USER
       </select>
       <insert id="addUser" parameterType="com.dfire.bean.User"
               >
              INSERT INTO USER (userName,passWord,firstName,lastName,birthday,age)
              VALUES (#{userName},#{passWord},#{firstName},#{lastName},#{birthday},#{age})
       </insert>
       <delete id="deleteByUserName" parameterType="String">
              DELETE FROM USER WHERE userName=#{userName}
       </delete>
       <update id="updateByUserID" parameterType="com.dfire.bean.User">
              UPDATE  USER set userName=#{userName},passWord=#{passWord},
              firstName=,#{firstName},lastName=#{lastName},birthday=#{birthday},age=#{age}
              WHERE userId=#{userID}
       </update>
</mapper>